@page "/Prototype3"
@using System.Timers

@* <div class="slot-machine"> *@
@*     <div class="reels"> *@
@*         @foreach (var reel in reels) *@
@*         { *@
@*             <div class="reel"> *@
@*                 <div class="symbol @(IsSpinning ? "spinning" : "")">@reel.CurrentSymbol</div> *@
@*             </div> *@
@*         } *@
@*     </div> *@
@* *@
@*     <div class="controls"> *@
@*         <button @onclick="Spin" disabled="@(IsSpinning || Credits < 1)">SPIN (1 DKK)</button> *@
@*         <div class="credits">DKK: @Credits</div> *@
@*         <div class="result">@ResultMessage</div> *@
@*     </div> *@
@* </div> *@
